body {
    font-family: 'Merriweather', serif;
    margin: 0;
    padding: 0;
    background-color: #fafafa;
    color: #333;
}

.top-bar {
    background-color: #1e1e1e;
    color: #fff;
    text-align: center;
    padding: 0.5rem 0;
    font-size: 0.9rem;
}

.header-content {
    background-color: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2rem;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #444;
    margin: 0;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    display: block;
}

nav ul li a:hover {
    background-color: #555;
}

.hero {
    background-image: url('ruta-a-tu-imagen-hero.jpg');
    background-size: cover;
    background-position: center;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
}

.hero h2 {
    font-size: 2rem;
    background: rgba(0, 0, 0, 0.5);
    padding: 1rem;
    border-radius: 5px;
}

.services {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 2rem 0;
    background-color: #fff;
}

.service {
    background: #f4f4f4;
    margin: 1rem;
    padding: 1rem;
    border-radius: 5px;
    text-align: center;
    width: calc(25% - 2rem);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.service img {
    max-width: 100%;
    border-radius: 5px;
}

.service h3 {
    margin-top: 0.5rem;
    font-size: 1.5rem;
}

.service p {
    font-size: 1rem;
    color: #666;
}

.button {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.button:hover {
    background-color: #555;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}


